* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-heading-primary: #fd7e14;
    --color-heading-secondary: #495057;
    --color-button-add: #37b24d;
    --color-button-delete: #f03e3e;
    --color-input-text: #f1f3f5;
    --color-white: #fff;
    --color-error-text: #e03131;
    --color-task-item: #dee2e6;
    --color-task-item-text: #343a40;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background: #00b09b;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
    height: 100vh;
}

/* COMMON */
.heading__primary {
    font-size: 4rem;
    display: flex;
    align-items: center;
    color: var(--color-heading-primary);
}

.heading__secondary {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--color-heading-secondary);
}

.dflex__column {
    display: flex;
    flex-direction: column !important;
}

.dflex__row {
    display: flex;
    flex-direction: row !important;
}

input[type='text'] {
    outline: none;
}

/* MAIN WINDOW */
.window {
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    max-width: 44rem;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
}

/* TASK WINDOW */
.todo {
    gap: 2rem;
    width: 100%;
    align-items: center;
}

/* ADD ITEM */
.todo__add {
    gap: .8rem;
}

.todo__form {
    gap: 1rem;
    align-items: center;
}

.todo__input--add {
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: var(--color-input-text);
    border-radius: .5rem;
}

.todo__input--add::placeholder {
    font-style: italic;
}

.todo__btn--add {
    align-self: center;
    border: none;
    background: none;
    align-items: center;
    gap: .5rem;
    color: var(--color-white);
    background-color: var(--color-button-add);
    font-size: 1.4rem;
    padding: .8rem;
    border-radius: .5rem;
}

.todo__error {
    font-size: 1.2rem;
    color: var(--color-error-text);
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.todo__error--show {
    visibility: initial;
    opacity: 1;
}

/* TASK ITEMS */
.todo__items {
    width: 100%;
    align-self: start;
    gap: 1rem;
}

.todo__list {
    list-style: none;
    gap: 1rem;
    max-height: calc(100vh - 22rem);
    overflow-y: auto;
    padding-right: .5rem;
}

.todo__item {
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: var(--color-task-item);
    color: var(--color-task-item-text);
    border-radius: .8rem;
}

.todo__input--checkbox {
    outline: none;
    cursor: pointer;
}

.todo__input--checkbox:checked+.todo__item--text {
    text-decoration: line-through;
}

.todo__btn--delete {
    margin-left: auto;
    padding: .5rem;
    background-color: var(--color-button-delete);
    color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
}

/* MEDIA QUERIES */

/* LARGE DESKTOPS */
@media (max-width: 88em) {
    
}
/* NORMAL DESTOPS */
@media (max-width: 75em) {
    
}
/* LANDSCAPE TAB */
@media (max-width: 62em) {
    
}
/* PORTRAIT TAB */
@media (max-width: 48em) {
    .window {
        max-width: 52rem;
    }

    .heading__primary {
        font-size: 5.4rem;
    }

    .heading__secondary {
        font-size: 2.2rem;
    }

    .todo__input--add {
        font-size: 2.2rem;
    }

    .todo__btn--add {
        font-size: 2.2rem;
    }

    .todo__item {
        padding: 1.2rem;
        font-size: 2.4rem;
    }

    .todo__input--checkbox {
        width: 2rem;
        height: 2rem;
    }
}
/* MOBILE */
@media (max-width: 36em) {
    .window {
        max-width: 85%;
    }

    .heading__primary {
        font-size: 4rem;
    }

    .heading__secondary {
        font-size: 1.6rem;
    }

    .todo__input--add {
        font-size: 1.4rem;
    }

    .todo__btn--add {
        font-size: 1.4rem;
    }

    .todo__item {
        padding: 1rem;
        font-size: 1.8rem;
    }

    .todo__input--checkbox {
        width: 1.6rem;
        height: 1.6rem;
    }
}