
:root {
    --color-primary: #043b4f;
    --color-primary-light-1: #1d4f61;
    --color-primary-dark-1: #032937;
    --color-light: #fff;

    /* BACKGROUNDS */

    /* BUTTONS */
    --btn-add: #fff;
    --btn-reset: #37b24d;
    --btn-copy:  #548596;
    --btn-delete:  #f03e3e;
    --btn-generate: #fd7e14;

    /* FONTS */
    --font-white: #fff;
    --font-footer-link: #1c7ed6;

    /* DEPRECATING COLORS */
    --color-orange: #fd7e14;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primary-light-1);
}

.main-layout {
    height: 100vh;

    max-width: 100%;
    display: grid;
    grid-template-rows: 8rem 1fr 2.6rem;
}

/* HEADER */
.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: url("../imgs/bg_header.jpg");
    background-position: center;
    background-size: cover;
    padding: 0 4rem;
}

.header__logo-img {
    width: 16rem;
}

.nav {
    font-size: 1.6rem;
}

.nav__list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--font-white);
}

.nav__link:hover,
.nav__link:active {
    border-bottom: 2px solid var(--color-light);
}

.status-layout {
    height: calc(100vh - 10.6rem);
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 2rem;
}

/* SECTION */
.section--input {
    display: flex;
    flex-direction: column;
}

.section__title {
    height: 6.4rem;
    background-color: var(--color-primary-dark-1);
    padding: 1.4rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section__header {
    font-size: 2.4rem;
    color: var(--font-white);
    font-weight: 300;
}

.section__action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__copy {
    position: absolute;
    left: -8rem;
    font-size: 1.2rem;
    padding: .8rem;
    background-color: var(--font-white);
    color: #111;
    border-radius: 5px;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
}

.section__copy--active {
    opacity: 1;
    visibility: initial;
}

.section__summary {
    width: 100%;
    height: 36rem;
    border-radius: 5px;
    background-color: var(--font-white);
    padding: 1rem;
}

/* FORM */

.form {
    height: 36rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.form__list {
    list-style: none;
    font-size: 1.4rem;
}

.form__item {
    height: 4.8rem;
    display: grid;
    grid-template-columns: repeat(2, 46%) 4%;
    align-items: center;
    gap: 1rem;
}

.form__item:not(:last-child) {
    margin-bottom: 1rem;
}

.form__select {
    font-size: inherit;
    align-self: stretch;
    border-radius: .5rem;
}

.form__section {
    background-color: #fff;
    border-radius: .5rem;
    height: 100%;
}

.form__section-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.form__radio-group {
    font-size: 1.2rem;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
}

.form__radio-label {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.form__field {
    height: 100%;
}

.form__input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0 1rem;
}

.form__input--group {
    border-left: 1px solid #ddd;
}

/* BUTTONS */
.btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: .5rem;
    color: var(--font-white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__add {
    color: #000;
    background-color: #fff;
    padding: 1rem 1.6rem;
    margin-top: 1.2rem;
}

.btn__delete {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    fill: #eee;
    background-color: var(--btn-delete);
    border-radius: 5rem;
}

.btn__generate {
    margin-top: 3rem;
    text-transform: uppercase;
    background-color: var(--btn-generate);
    padding: 1rem;
    letter-spacing: 1px;
    align-self: flex-end;
}

.btn__reset,
.btn__copy {
    height: 2.6rem;
    padding: .6rem;
}

.btn__reset {
    background-color: var(--btn-reset);
}

.btn__copy {
    background-color: var(--btn-copy);
    position: relative;
}

.btn__icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.btn__reset:active,
.btn__copy:active {
    transform: translateY(.2rem);
}

/* FOOTER */
.footer {
    font-size: 1.2rem;
    background-color: var(--color-light);
}

.footer__content{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content--link:link,
.footer__content--link:visited {
    color: var(--font-footer-link);
    text-decoration: none;
}

.footer__content--link:hover,
.footer__content--link:active {
    border-bottom: 1px solid var(--font-footer-link);
}

/* OUTLINES */
.form__select,
.form__input,
.section__summary {
    outline: none;
}