/* This is CSS */

body{
    font-family: 'Roboto', sans-serif;
}

.calculator-info{
    height: 45vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
}

h1 {
    grid-column: 1 / -1;
}

.rows{
    margin: 50px;
}

input{
    width: 60px;
    height: 25px;
}
#submit{
    margin: 15px 50px;
}

#bmi-msg {
    grid-column: 1 / -1;
}
