/* GLOBALS */
:root {
    --color-primary: #000046;
    --color-secondary: #1CB5E0;
    --color-light-1: #ddd;
    --color-dark-1: #111;

    --font-warn: #e8590c;
    --font-white: #fff;
    --font-danger: #e03131;
    --font-footer-link: #1c7ed6;

    --bg-underweight: #ffd737;
    --bg-healthy: #2dc222;
    --bg-overweight: #ec9e17;
    --bg-obesity: #ec4a17;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr 2.6rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.8rem;
}

/* BRANDING */
.brand {
    display: flex;
    align-items: center;
}

.brand__img {
    width: 6rem;
}

.brand__title {
    color: var(--color-primary);
}

.brand__title--main {
    font-size: 2rem;
    font-weight: 700;
}

.brand__title--sub {
    font-size: 1.4rem;
    font-weight: 500;
}

/* NAV LIST */
.nav {
    font-size: 1.4rem;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: var(--color-primary);
}

.nav__link:hover,
.nav__link:active {
    border-bottom: 2px solid var(--color-primary);
}

/* MAIN */
.container {
    padding: 2rem 9.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hero__title {
    font-size: 4rem;
    color: var(--color-primary);
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.hero__text {
    font-size: 1.4rem;
}

.hero__hightlight {
    color: var(--color-primary);
    font-weight: 600;
}

.hero__warning {
    color: var(--font-warn);
}

/* BMI CALCULATOR */
.bmi-calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.section {
    border-radius: 1rem;
    overflow: hidden;
    width: 60rem;
    height: 34rem;
    box-shadow: 0 0 .5rem .1rem var(--color-light-1);
}

/* CALCULATOR */
.section__title {
    height: 6.4rem;
    color: var(--font-white);
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    display: flex;
    align-items: center;
}

.section__title-text {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4rem;
}

.section__body {
    padding: 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.toggle {
    display: flex;
    align-self: flex-start;
    border: 2px solid var(--color-primary);
    border-radius: .5rem;
}

.toggle__btn {
    border: none;
    background: none;
    font-size: 1.4rem;
    width: 9.6rem;
    padding: 1rem;
    color: var(--color-primary);
    cursor: pointer;
}

.toggle__btn:hover {
    color: var(--font-white);
    background-color: var(--color-primary);
}

.toggle__btn-active {
    color: var(--font-white);
    background-color: var(--color-primary);
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.form__label {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.form__label--main {
    font-size: 1.8rem;
    font-weight: 500;
}

.form__label--sub {
    font-size: 1.4rem;
}

.form__input {
    padding: 1rem;
    width: 9.6rem;
    border: 2px solid var(--color-light-1);
    border-radius: .5rem;
    outline: none;
}

.form__input:focus {
    border: 2px solid var(--color-secondary);
}

.form__error {
    color: var(--font-danger);
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    bottom: -1.8rem;
}

.form__action {
    display: flex;
    gap: 2.6rem;
}

.form__btn {
    border: none;
    background: none;
    font-size: 1.4rem;
    width: 12.4rem;
    padding: 1rem;
    border-radius: 5rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

.form__btn:hover {
    color: var(--font-white);
    background: var(--color-primary);
}

/* BIM RESULT */
.section--info-result {
    display: grid;
    grid-template-rows: 80% 20%;
}

.section__list {
    list-style: none;
}

.section__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.4rem;
    padding: 1.6rem;
    border-bottom: 1px solid var(--color-light-1);
    transition: all .2s ease-out;
}

.section__item--head {
    height: 6.4rem;
    font-weight: 600;
    background: linear-gradient(to right, #000046, #1cb5e0);
    color: var(--font-white);
    align-items: center;
}

.section__result {
    display: grid;
    grid-template-columns: 12.4rem 1fr;
    align-items: center;
    justify-items: center;
}

.bmi-score {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmi-score__number {
    font-size: 2.6rem;
    font-weight: 500;
}

.bmi-scale {
    display: flex;
    position: relative;
}

.bmi-scale__segment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.bmi-scale__meter {
    height: .4rem;
    width: 9.6rem;
}

.bmi-scale__meter--underweight {
    background-color: var(--bg-underweight);
}

.bmi-scale__meter--healthy {
    background-color: var(--bg-healthy);
}

.bmi-scale__meter--overweight {
    background-color: var(--bg-overweight);
}

.bmi-scale__meter--obesity {
    background-color: var(--bg-obesity);
}

.bmi-scale__range {
    font-style: italic;
}

.bmi-scale__marker {
    width: .8rem;
    height: 2rem;
    background-color: var(--color-dark-1);
    position: absolute;
    top: -.8rem;
    left: 0;
    transition: left 1s ease-out;
}

/* FOOTER */
.footer {
    font-size: 1.2rem;
}

.footer__content{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content--link:link,
.footer__content--link:visited {
    color: var(--font-footer-link);
    text-decoration: none;
}

.footer__content--link:hover,
.footer__content--link:active {
    border-bottom: 1px solid var(--font-footer-link);
}