*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}
.header {
    padding: 3.2rem 0;
}

.nav {
    width: 100%;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    font-size: 1.4rem;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: #1971c2;
}

.nav__link:hover,
.nav__link:active {
    border-bottom: 1px solid #1971c2;
}

.hero {
    padding: 9.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero__title {
    font-size: 6.4rem;
}

.hero__tag {
    font-size: 1.8rem;
}

.container {
    background-color: #e9ecef;
    padding: 4.8rem 9.6rem;
}

.section:not(:last-child) {
    margin-bottom: 6.4rem;
}

.section__title {
    font-size: 2.2rem;
}

.section__list {
    margin-top: 4.8rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 3.2rem;
}

.card  {
    width: 24rem;
    height: 36rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__img {
    width: 100%;
    height: 12rem;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__title {
    font-size: 2rem;
}

.card__tags {
    display: flex;
    gap: 1rem;
}

.card__tag {
    padding: .2rem .8rem;
    border-radius: 5rem;
    font-size: 1.2rem;
}

.card__tag--html {
    background-color: #ffd8a8;
    border: 1px solid #d9480f;
}

.card__tag--css {
    background-color: #a5d8ff;
    border: 1px solid #1864ab;
}

.card__tag--js {
    background-color: #ffec99;
    border: 1px solid #e67700;
}

.card__tag--bootstarp {
    background-color: #d0bfff;
    border: 1px solid #5f3dc4;
}

.card__link:link,
.card__link:visited {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    background-color: #1864ab;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    margin-top: auto;
}

.card__link:hover,
.card__link:active {

}