:root {
    --bg-white: #fff;
    --bg-header: #2f9e44;
    --bg-item: #dee2e6;
    --bg-primary: #2b8a3e;

    --font-color-light: #fff;
    --font-color-dark-1: #444;
    --font-footer-link: #1c7ed6;

    --border-dark-1: #444;
    --border-dark-2: #888;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    
    display: grid;
    grid-template-rows: 8rem 1fr 2.6rem;
}

/* .container {
    
} */

/* HEADER */
header {
    background-color: var(--bg-header);
    color: var(--font-color-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 3rem;
    font-weight: 500;
}

/* CONTENT */
.content {
    height: calc(100vh - 10.6rem - 2rem); /* Height + Margin*/
    overflow-y: auto;
    padding: 0 2rem 2rem 2rem;
    margin-top: 2rem;
}

.section:not(:last-child) {
    margin-bottom: 3.2rem;
}

.section__title {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    color: var(--border-dark-2);
    text-transform: uppercase;
}

.section__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.section__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    width: 95%;
    margin: 0 auto;
    color: var(--font-color-dark-1);
    background-color: var(--bg-item);
    position: relative;
}

.section__item::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 1rem;
    height: 100%;
    background-color: var(--bg-primary);
    border-radius: .5rem 0 0 .5rem;
}

.section__item::after {
    content: "";
    position: absolute;
    right: -10px;
    width: 1rem;
    height: 100%;
    background-color: var(--bg-primary);
    border-radius: 0 .5rem .5rem 0;
}

.block,
.description {
    padding: .6rem;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.6rem;
    border-right: 1px solid var(--border-dark-1);
}

.block__command {
    font-family: monospace;
}

.block__copy {
    display: flex;
    align-items: center;

    padding: .6rem;
    border-radius: .6rem;
    background-color: var(--bg-white);
    border: 2px solid var(--border-dark-2);
    position: relative;
    cursor: pointer;
}

.block__copy.block__copy--border {
    border-color: var(--bg-primary);
}

.copy-icon,
.tick-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.copy-icon {
    fill: var(--border-dark-2);
}

.copy-icon--hide {
    display: none;
}

.tick-icon {
    display: none;
    fill: var(--bg-primary);
}

.tick-icon--show {
    display: block;
}

.block__info {
    position: absolute;
    left: -7.6rem;
    padding: .8rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    color: var(--font-color-light);
    background-color: var(--bg-primary);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.block__info.block__info--show {
    opacity: 1;
    visibility: initial;
}

.description {
    font-size: 1.4rem;
}

/* FOOTER */
.footer {
    font-size: 1.2rem;
}

.footer__content{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content--link:link,
.footer__content--link:visited {
    color: var(--font-footer-link);
    text-decoration: none;
}

.footer__content--link:hover,
.footer__content--link:active {
    border-bottom: 1px solid var(--font-footer-link);
}